<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		<bean id="logDAO" class="cn.zk.daoimpl.LogDAOImpl">
			<property name="hibernateTemplate" ref="hibernateTemplate"></property>
		</bean>
		<bean id="logService" class="cn.zk.serviceimpl.LogServiceImpl">
			<property name="logDAO" ref="logDAO"></property>
		</bean>
		<bean id="logAction" class="cn.zk.crm.system.LogAction" scope="prototype">
			<property name="logService" ref="logService"></property>
		</bean>
		<bean id="roleAction" class="cn.zk.crm.system.RoleAction" scope="prototype">
			<property name="userService" ref="userService"></property>
			<property name="logService" ref="logService"></property>
		</bean>
		<bean id="userAction2" class="cn.zk.crm.system.UserAction" scope="prototype">
			<property name="userService" ref="userService"></property>
		</bean>
				
</beans>