<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean id="Cst_serviceDao" class="cn.zk.daoimpl.Cst_serviceDaoImpl">
		<property name="hibernateTemplate" ref="hibernateTemplate"></property>
	</bean>
	<bean id="Cst_serviceService" class="cn.zk.serviceimpl.Cst_serviceServiceImpl">
		<property name="cst_servicedao" ref="Cst_serviceDao"></property>
	</bean>
	
	<bean id="cst_serviceAction" class="cn.zk.crm.service.cst_serviceAction" scope="prototype">
	  <property name="cst_serviceService" ref="Cst_serviceService"></property>
		<property name="logService" ref="logService"></property>
	</bean>
</beans>